body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #091833;
    background-image:
          linear-gradient(#007b81 4px, transparent 2px),
          linear-gradient(90deg, #007b81 4px, transparent 2px);
    background-size: 50px 50px, 100px 100px;
}

/* HEADER */

.header{
    width: 100%;
    position: static;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0abdc6;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #091833;
    margin: 20px 20px;
}
.nav,
.contacts{
    font-family: 'Audiowide', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin: 20px 20px;
}
.nav_link,
.contacts a{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px; 
    text-decoration: none;
    color: #091833;
    transition: color .1s linear    ;
}
.nav_link:hover{
    color: #d60c59;
}
main{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #133e7c;
    padding: 10px;
}

/* INTRO */

.intro__title{
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    color: #d60c59;
    font-size: 100px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    margin: 0 auto 40px;
}

/*SECTION*/

.section{
    padding-bottom: 40px;
    background-color: #d60c59;
    border: solid #b600aa 1px;
    margin: 0 10px;
    margin-bottom: 10px;
}
#last__section{
    margin-bottom: 0;
}

.section__title{
    font-family: 'Audiowide', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #091833;
    text-align: center;
}
.section__content{
    display: flex;
    justify-content: space-between;
}
.section__image{
    margin: 10px;
    border: solid #0abdc6 4px;
    padding: 15px;
    max-width: 400px;
}
.section__text{
    color: #091833;
    margin: 10px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}
.item__name{
    color: #091833;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}
.item__description{
    color: #091833;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
}

/* FORM */
.input__wrapper{
    border: 4px solid #0abdc6;
    border-radius: 15px;
    position: relative;
}
.form{
    align-items: center;
}
input{
    width: 500px;
    
}

.form{
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
}
input[type="text"],
input[type="tel"],
input[type="email"]
{
    outline: none;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 4%;
    border: 4px solid #0abdc6;
    padding: 3%;
    color: #0abdc6;
    font: 95% 'Orbitron', sans-serif;
    background-color: #ff438b;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus
{
    box-shadow: 0 0 5px #00f2ff;
    padding: 3%;
    border: 4px solid #00f2ff;
}

input[type="submit"],
input[type="button"]{
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #0abdc6;
    border-bottom: 4px solid #0ba4ac;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;	
    color: #fff;
}
input[type="submit"]:hover,
input[type="button"]:hover{
    background: #00f2ff;
}

/* FOOTER */
.footer{
    width: 100%;
    position: static;
    top: 0;
    right: 0;
    left: 0;
    background-color: #0b5155;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer .logo{
    color: #0ba4ac;
    margin: 0px 20px 20px;
}
.footer .nav,
.footer .contacts
{
    font-size: 20px;
    text-transform: none;
    margin: 0px 20px;
}
.footer .nav_link,
.contacts a{
    display: block;
    margin-bottom: 0.5em;
}
.footer__menu__wrapper{
    padding: 1em;
}

.footer .nav,
.footer .contacts,
.footer .map_wrapper{
    flex: 1 200px;
    display: inline-block;
}


    
.map{
    padding: 10px;
    border: solid #0abdc6 4px;
    margin: 5px;
    width: 600px;
    height: 200px;
}
@media(max-width: 1080px)
{
    .section__content{
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .footer{
        align-items: flex-start;
    }

}
@media(max-width: 640px)
{
    .intro__title{
        font-size: 3em;
    }
    .map{
        padding: 5px;
        border: solid #0abdc6 2px;
        width: inherit;
        max-height: 200px;
    }
    .footer{
        align-items: flex-start;
    }
}

@media(max-width: 480px)
{
    .section__image img{
        min-width: 100px;
    }

}
